<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Módulos</title>
</head>
<body>
    <h1>Módulos</h1>
    <nav>
        <ul>
            <li><a href="/modulos/cpp">C++</a></li>
            <li><a href="/modulos/python">Python</a></li>
            <li><a href="/modulos/java">Java</a></li>
            <li><a href="/modulos/redes">Administração de Redes Locais</a></li>
            <li><a href="/modulos/banco-de-dados">Base de Dados</a></li>
            <li><a href="/modulos/processamento">Processamento Computacional</a></li>
        </ul>
    </nav>
    <a href="/">Voltar para a página inicial</a>
</body>

</html>

</html>

