body {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;   
     line-height: 1.6;
    margin: 20px;
}

div {
    background-color: #cecbcb00;
    border: 7px solid #000000;
    padding: 20px; /* Increased padding for better readability */
    border-radius: 5px;
    white-space: pre-wrap; /* Ensure the text wraps */
    font-size: 20px; /* Increased font size for larger text */
  /*  font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;*/
    .sevillana-regular {
        font-family: "Sevillana", cursive;
        font-weight: 400;
        font-style: normal;
      }
    }


a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 30px; /* Increased font size for the link */
}

a:hover {
    text-decoration: underline;
}
