<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-gray-100">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <a class="text-white text-lg font-bold" href="/">Home</a>
                <div class="space-x-4">
                    <a class="text-gray-300 hover:text-white" href="/documentacao">Documentação</a>
                    <a class="text-gray-300 hover:text-white" href="/modulos">Módulos</a>
                    <a class="text-gray-300 hover:text-white" href="/projeto">Projeto</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>