<!DOCTYPE html>
<html>
<head>
    <title>Processamento de um Computador</title>
</head>
<body>
    <h1>Processamento de um Computador</h1>
    <nav>
        <ul>
            <li><a href="/modulos/processamento/organizacao">Organização de um Computador</a></li>
            <li><a href="/modulos/processamento/componentes">Componentes de um Computador</a></li>
            <li><a href="/modulos/processamento/memoria">Unidade de Memória</a></li>
            <li><a href="/modulos/processamento/processador">Processador</a></li>
        </ul>
    </nav>
</body>
</html>